.userprofilecontainer {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url('https://res.cloudinary.com/taskmanagerreact/image/upload/v1566323970/68428867_2661040287259783_3072642521503891456_n_w1dwne.jpg');
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
}