#appname {
    font-size: 50px;
    color: #2B2B2B;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 30px 0;
}

#authform {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#signupform {
    width: 450px;
    height: 500px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#heading {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.formrow {
    width: 300px;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 2px;
    position: relative;
}

.formrow input {
    width: 295px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.formrow1 {
    width: 300px;
    border: 1px solid #4691f6;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #4691f6;
}

button {
    width: 295px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: #fff;
}

::-webkit-input-placeholder {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#signupwithnum {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #2B2B2B;
    align-self: center;
    margin: 5px 0;
    text-decoration: none;
}

#separator {
    width: 295px;
    background-color: #e8e8e8;
    margin: 20px 0;
}

#signupwithfb {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #4691f6;
    align-self: center;
    margin: 5px 0;
    text-decoration: none;
}

#loginlinkdiv {
    margin-top: 15px;
    border-top: 1px solid #e8e8e8;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#login {
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
    cursor: pointer;
}

.svg-icon-err-fullname {
    width: 1em;
    height: 1em;
}

.svg-icon-err-fullname path,
.svg-icon-err-fullname polygon,
.svg-icon-err-fullname rect {
    fill: red;
}

.svg-icon-err-fullname circle {
    stroke: red;
    stroke-width: 2;
}

.svg-icon-correct-fullname {
    width: 1em;
    height: 1em;
}

.svg-icon-correct-fullname path,
.svg-icon-correct-fullname polygon,
.svg-icon-correct-fullname rect {
    fill: green;
}

.svg-icon-correct-fullname circle {
    stroke: green;
    stroke-width: 2;
}

.validationIcon {
    position: absolute;
    right: 20px;
    top: 12px;
    width: 17px;
}

.error {
    font-size: 13px;
    color: #c7254e;
    background: #f9f2f4;
    border-radius: 3px;
    padding: 15px;
    margin: -26px 0 15px;
}

.ValidationError {
    display: flex;
    margin-left: 12px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: red;
}

.ValidationSuccess {
    margin-left: 12px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: green;
}

.unselectedBtn {
    cursor: not-allowed;
    opacity: 0.5;
}

.selectedBtn {
    cursor: pointer;
}


/*For tablets*/

@media only screen and (min-width: 600px) {
    #appname {
        font-size: 75px;
        color: #2B2B2B;
        font-family: 'Lobster', cursive;
        text-align: center;
        padding: 30px 0;
    }
}

@media only screen and (min-width: 768px) {
    #appname {
        font-size: 100px;
        color: #2B2B2B;
        font-family: 'Lobster', cursive;
        text-align: center;
        padding: 40px 0;
    }
}

@media only screen and (max-width:359px) {
    #appname {
        display: none;
    }
}

// /* 
//   ##Device = Desktops
//   ##Screen = 1281px to higher resolution desktops
// */
// @media (min-width: 1281px) {
//     //CSS
// }
//   /* 
//     ##Device = Laptops, Desktops
//     ##Screen = B/w 1025px to 1280px
//   */
//   @media (min-width: 1025px) and (max-width: 1280px) {
//     //CSS
//   }
//   /* 
//     ##Device = Tablets, Ipads (portrait)
//     ##Screen = B/w 768px to 1024px
//   */
//   @media (min-width: 768px) and (max-width: 1024px) {
//     //CSS
//   }
//   /* 
//     ##Device = Tablets, Ipads (landscape)
//     ##Screen = B/w 768px to 1024px
//   */
//   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//     //CSS
//   }
//   /* 
//     ##Device = Low Resolution Tablets, Mobiles (Landscape)
//     ##Screen = B/w 481px to 767px
//   */
//   @media (min-width: 481px) and (max-width: 767px) {
//     //CSS
//   }
//   /* 
//     ##Device = Most of the Smartphones Mobiles (Portrait)
//     ##Screen = B/w 320px to 479px
//   */
//   @media (min-width: 320px) and (max-width: 480px) {
//     //CSS
//   }